<h1>Current weather</h1>
<div class="search-container">
  <form [formGroup]="form">
    <label>Choose new city:
      <input
        formControlName="name"
        type="text"
        placeholder="City name"
        (keyup)="liveSearch(form.value.name)"
        (focusin)="searchActive=true"
        (focusout)="searchActive=false"
      >
    </label>
  </form>
  <div *ngIf="searchActive || searchHover" style="position: relative">
    <div
      (mouseenter)="searchHover = true"
      (mouseleave)="searchHover = false"
      class="search-results"
    >
      <div *ngFor="let result of searchResults">
        <span>{{result.name}}, {{result.country}}</span>
        <button (click)="addCity(result)" class="margin-left">+</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <span>Sorting order</span>
  <button (click)="sortCitiesByName(true)">{{ascendingOrder ? '^' : 'v'}}</button>
</div>
<div>
  <button (click)="checkWeatherTime(745042)">Start</button>
</div>
<div class="row flex-wrap">
  <div *ngFor="let city of preparedDataArr">
    <app-city-card [city]="city" (deleted)="tryDeleteCity(city.id)"></app-city-card>
  </div>
</div>
<app-modal *ngIf="isModal" (closed)="modalClosed()" (deleteConfirmed)="modalConfirmed()"></app-modal>
