<div class="row flex-wrap">
  <h1>Current weather</h1>
  <div *ngIf="selectedUser$ | async as selectedUser" class="margin-left-auto">
    <span>Selected user: {{selectedUser.name}}</span>
    <form [formGroup]="setUserForm" (ngSubmit)="setSelectedUser(+setUserForm.value.user)">
      <label>
        Select user:
        <select formControlName="user" (change)="setSelectedUser(+setUserForm.value.user)">
          <option *ngFor="let user of availableUsers$ | async" [value]="user.id" (select)="setSelectedUser(user.id)">
            {{user.name}}
          </option>
        </select>
      </label>
    </form>
  </div>
</div>
<button (click)="openModal(addCityComponent)">Add City</button>
<app-modal-container *ngIf="isModal$ | async"></app-modal-container>
<div class="row flex-wrap">
  <div *ngFor="let city of chosenCitiesWeather$ | async">
    <app-city-card [city]="city"></app-city-card>
  </div>
</div>
