.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.temperature {
  margin-top: auto;
  margin-bottom: auto;
}

.details {
  margin-left: auto;
  margin-right: auto;
}

.divider {
  width: 100%;
  padding-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid aqua;
}

.padding-left {
  padding-left: 20px;
}

.padding-right {
  padding-right: 20px;
}

.button-delete-container {
  position: relative;
}

.button-delete {
  position: absolute;
  width: fit-content;
  right: 10px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid aqua;
  border-radius: 10px;
}

.weather-header {
  background-color: orange;
  border-radius: 10px 10px 0 0;
}

.loading-placeholder {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid aqua;
  border-radius: 10px;
  text-align: center;
}
